services:
  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      MONITOR_SQS: ${MONITOR_SQS:-true}
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack'
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh
      - ./compose/monitor-sqs.sh:/etc/localstack/init/ready.d/monitor-sqs.sh
    healthcheck:
      test: ['CMD', 'curl', 'localhost:4566']
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - cdp-tenant

  mongodb:
    image: mongo:6.0.13
    networks:
      - cdp-tenant
    ports:
      - '27017:27017'
    volumes:
      - mongodb-data:/data/db
    restart: always
    healthcheck:
      test:
        ['CMD', 'mongosh', '--quiet', '--eval', 'db.runCommand({ ping: 1 }).ok']
      interval: 5s
      timeout: 5s
      retries: 10

  ################################################################################

  farming-grants-agreements-api:
    build:
      context: ./
      target: development
    ports:
      - '3555:3555'
    depends_on:
      localstack:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    command:
      [
        '/bin/sh',
        '-c',
        "echo 'Waiting 10 seconds for localstack and mongodb to fully initialize...' && sleep 10 && echo 'Starting farming-grants-agreements-api...' && npm run docker:dev"
      ]
    env_file:
      - 'compose/aws.env'
    environment:
      PAYMENT_HUB_LOGGING: ${PAYMENT_HUB_LOGGING:-true}
      PAYMENT_HUB_DEFAULT_SOURCE_SYSTEM: ${PAYMENT_HUB_DEFAULT_SOURCE_SYSTEM:-FPTT}
      PAYMENT_HUB_DEFAULT_LEDGER: ${PAYMENT_HUB_DEFAULT_LEDGER:-AP}
      PAYMENT_HUB_DEFAULT_DELIVERY_BODY: ${PAYMENT_HUB_DEFAULT_DELIVERY_BODY:-RP00}
      PAYMENT_HUB_DEFAULT_FES_CODE: ${PAYMENT_HUB_DEFAULT_FES_CODE:-FALS_FPTT}
      PORT: 3555
      NODE_ENV: ${NODE_ENV:-development}
      LOCALSTACK_ENDPOINT: http://localstack:4566
      MONGO_URI: mongodb://mongodb:27017/
      SEED_DB: ${SEED_DB:-true}
      AWS_ENDPOINT: http://localstack:4566
      SQS_ENDPOINT: http://localstack:4566
      QUEUE_URL: http://localstack:4566/000000000000/create_agreement_fifo.fifo
      S3_ENDPOINT: http://host.docker.internal:4568
      GA_TRACKING_ID: ${GA_TRACKING_ID:-''}
      QUEUE_NAME: ${QUEUE_NAME:-create_agreement_fifo.fifo}
      ENABLE_TEST_ENDPOINTS: ${ENABLE_TEST_ENDPOINTS:-true}
      JWT_ENABLED: ${JWT_ENABLED:-true}
      AGREEMENTS_JWT_SECRET: ${AGREEMENTS_JWT_SECRET:-a-string-secret-at-least-256-bits-long}
      ENABLE_PAYMENT_HUB: ${ENABLE_PAYMENT_HUB:-false}
      VIEW_AGREEMENT_URI: http://host.docker.internal:3555
      SNS_TOPIC_TYPE_AGREEMENT_STATUS_UPDATED: ${SNS_TOPIC_TYPE_AGREEMENT_STATUS_UPDATED:-io.onsite.agreement.status.updated}
      SNS_TOPIC_ARN_AGREEMENT_STATUS_UPDATED": ${SNS_TOPIC_ARN_AGREEMENT_STATUS_UPDATED:-arn:aws:sns:eu-west-2:332499610595:agreement_status_updated_fifo.fifo}
      FILES_S3_BUCKET: ${FILES_S3_BUCKET:-farming-grants-agreements-pdf-bucket}
      FILES_S3_BASE_TERM_PREFIX: ${FILES_S3_BASE_TERM_PREFIX:-base}
      FILES_S3_EXTENDED_TERM_PREFIX: ${FILES_S3_EXTENDED_TERM_PREFIX:-extended}
      FILES_S3_MAXIMUM_TERM_PREFIX: ${FILES_S3_MAXIMUM_TERM_PREFIX:-maximum}
      FILES_S3_BASE_TERM_THRESHOLD: ${FILES_S3_BASE_TERM_THRESHOLD:-10}
      FILES_S3_EXTENDED_TERM_THRESHOLD: ${FILES_S3_EXTENDED_TERM_THRESHOLD:-15}
      FILES_S3_MAXIMUM_TERM_THRESHOLD: ${FILES_S3_MAXIMUM_TERM_THRESHOLD:-20}
      FILES_S3_RETENTION_BASE_YEARS: ${FILES_S3_RETENTION_BASE_YEARS:-7}
      LAND_GRANTS_BASE_URL: http://host.docker.internal:3001
      LAND_GRANTS_TOKEN: ${LAND_GRANTS_TOKEN:-sampleToken}
    networks:
      - cdp-tenant

  ################################################################################

  mock-server:
    image: pactfoundation/pact-stub-server:0.7.0
    profiles:
      - mock
    restart: unless-stopped
    ports:
      - '8081:8081'
    volumes:
      - ./src/contracts/consumer/pacts:/app/pacts
    command: ['-p', '8081', '-d', 'pacts']
    networks:
      - cdp-tenant

volumes:
  mongodb-data:

networks:
  cdp-tenant:
    driver: bridge
