<!-- Business Information Header -->
<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-two-thirds ">
    <h3 id="farmName" class="govuk-heading-s govuk-!-margin-bottom-1">
      {{ company }}
    </h3>
    <p id="sbi" class="govuk-body-s">
      Single business identifier (SBI):
      {{ sbi }}
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 id="farmerName"
       class="govuk-heading-s govuk-!-text-align-right-from-tablet">
      {{ farmerName }}
    </h3>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-0">
