<!-- Business Information Header -->
<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-two-thirds ">
    <p id="farmName" class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-size-19">
      <strong>{{ company }}</strong>
    </p>
    <p id="sbi" class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
      Single business identifier (SBI):
      {{ sbi }}
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <p id="farmerName" class="govuk-body govuk-!-text-align-right">
      <strong>{{ farmerName }}</strong>
    </p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-0">
