{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "account-bar/macro.njk" import defraAccountBar %}
{% from "sbi-selector/macro.njk" import sbiSelector %}

{% set mainClasses = "" %}

{% block head %}
  <link href="{{ getAssetPath(baseUrl, 'stylesheets/application.scss') }}" rel="stylesheet">

  <script nonce="{{ cspNonce }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});let f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!=='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  });</script>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "govuk-header--full-width-border"
  }) }}

  {% if serviceTitle %}
    <section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
      <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
          <span class="govuk-service-navigation__service-name">
            {{ serviceTitle }}
          </span>
        </div>
      </div>
    </section>
  {% endif %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: '<span class="govuk-phase-banner__text">
              This is a new service. Help us improve it and
                <a class="govuk-link" href="#" target="_blank" rel="noopener noreferrer">
                  give your feedback <span class="govuk-visually-hidden">(opens in new tab)</span>
                </a>.
            </span>'
    }) }}
  </div>
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}

  {{ defraAccountBar({
    organisationName: agreement.applicant.business.name,
    organisationId: agreement.identifiers.sbi,
    name: agreement.applicant.customer.name.first + ' ' + agreement.applicant.customer.name.last,
    featureFlags: featureFlags
  }) }}

  <div class="govuk-width-container">
  {% endblock %}

  <main id="main-content" class="{{ mainClasses }}" role="main">
    {% block content %}{% endblock %}
  </main>

  {% block footer %}
  </div>

  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath(baseUrl, 'application.js') }}"
  nonce="{{cspNonce}}"></script>
{% endblock %}
