@use 'govuk-frontend' as *;

// Example namespaced custom element style CSS classes

.gem-c-print-link__link,
.gem-c-print-link__button {
  background: var(--print-icon-url) no-repeat 10px 50%;
  background-size: 16px 18px;
  padding: 10px 10px 10px 36px;
  text-decoration: none;
}

.dataset-info dd {
  margin-left: 0px;
  width: 35%;
}

.dataset-info dd,
.dataset-info dt {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: text-top;
}

.dataset-info dt {
  width: 30%;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5px;
}

.toc {
  font-size: 16px !important;
  position: sticky;
  float: left;
  margin-bottom: 30px;
}

.toc a {
  text-decoration: none;
  font-size: 16px !important;
}

.uc-section-card__link:link,
.uc-action-card__link:link,
.dwp-side-navigation__link:link,
a:link,
.govuk-link:link,
.dwp-timeline__link:link {
  color: #1d70b8;
}
