{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row" role="main">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">
                        Offer accepted
                    </h1>
                    <p class="govuk-body">Your agreement is now live.</p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
