{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
    <div class="govuk-grid-row" role="main">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Offer accepted
          </h1>
          <div class="govuk-panel__body">
            The start date for these actions is {{ agreementStartDate | formatDate('d MMMM yyyy') }}
          </div>
        </div>
        <div class="govuk-panel__body">
          <p class="govuk-body">Your reference number is {{ agreementNumber }}.</p>
          <h2 class="govuk-heading-m">
            What happens next
          </h2>
          <p class="govuk-body">You can
            <a href="#" class="govuk-link">view your full agreement</a>
            including the terms and conditions for your selected actions.</p>
          <p class="govuk-body">
            <a href="#" target="_blank" class="govuk-link">Read the guidance (opens in new tab)</a>
            to check what you must do to get paid for each action.</p>
          <p class="govuk-body">You will receive your first payment for these actions in
            {{ nearestQuarterlyPaymentDate }}.</p>
        </div>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              If you need help
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>You can contact the Rural Payments Agency (RPA) by phone or email for help and support.</p>
            <ul class="govuk-list">
              <li>Telephone: 03000 200 301</li>
              <li>Monday to Friday, 8:30am to 5pm (except bank holidays)</li>
            </ul>
            <p>
              <a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a>
            </p>
          </div>
        </details>
      </div>
    </div>
{% endblock %}
