{% extends 'views/sfi-agreement.njk' %}
{% block head %}
<style>
  body {
    font-family: GDS Transport, Helvetica, Arial, sans-serif;
  }

  header {
    margin-bottom: 15px;
  }

  .govuk-\!-display-none-print,
  .govuk-skip-link,
  .govuk-phase-banner,
  #contents,
  footer {
    display: none;
  }

  dd {
    margin-left: 0;
    font-weight: bold;
    font-size: 1.1em;
  }

  dt {
    margin: 5px 0 15px 10px;
    font-size: 1em;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }
</style>
{% endblock %}
{% block bodyEnd %}{% endblock %}
