{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <h1 class="govuk-heading-xl">Read and accept your offer</h1>

            <section>
                {{ agreementDocument | safe }}
            </section>

            {% if agreementStatus === 'offered' %}
            <section class="accept-section">
                <form method="post" action="{{ '/agreement/accept-offer' if grantsProxy else '/accept-offer' }}" id="accept-offer-form">
                    <input type="hidden" name="agreementId" value="{{agreementNumber}}">
                    <p id="accept-agreement-error" class="govuk-error-message"></p>
                    {{ govukButton({
                        text: "Accept and continue"
                    }) }}
                </form>
            </section>
            {% endif %}
        </main>
    </div>
{% endblock %}
